@using Microsoft.Extensions.Primitives
@{
    Layout = "_Layout";
}

<table>
@foreach (KeyValuePair<string,StringValues> kvp in Model)
{
    <tr>
        <td>@kvp.Key</td>
        <td>@kvp.Value</td>
    </tr>
}
</table>